<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Registro de Usuario</title>
</head>
<body>
    <header class="navbar">
        <div class="box-conteiner">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo de la empresa">   
    <div class="box-input">
    <form class="search-bar" action="">
        <input class="input-search" type="search" id="search" name="search" placeholder="Buscar productos, marcas"/>
        <button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button> 
    </form>
    </div>
    <div class="box-parrafo">
    <p class="parrafo"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
</div>
        <nav class="navegador">
            <div class="box-nav">
                <ul class="list">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>

            <div class="box-navv">
                <ul class="login-bar">
                    <li><a href="register.html">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i> </li>
                    <li><a href="login.html">Ingresá</a> <i class="fa-solid fa-right-from-bracket"></i> </li>
                    <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
                </ul>
            </div>
            
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="container">
        <h1>Registro de Usuario</h1>
        <form id="registerForm" action="/" >
            <label for="fullname">Nombre y Apellido:</label>
            <input type="text" id="fullname" name="fullname" required>

            <label for="username">Nombre de Usuario:</label>
            <input class="input-user" type="text" id="username" name="username" placeholder="Que contenga más de 6 caracteres y menos de 18" minlength="6" maxlength="18" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="dob">Fecha de Nacimiento:</label>
            <input type="date" id="dob" name="dob" required>

            <label for="address">Domicilio:</label>
            <input type="text" id="address" name="address" required>

            <label>Perfil del Usuario:</label>
            <div class="radio-group">
                <label><input type="radio" name="profile" value="comprar" required> Quiero Comprar</label>
                <label><input type="radio" name="profile" value="vender"> Quiero Vender</label>
            </div>

            <label>Categorías de Interés:</label>
            
            <div class="checkbox-group">
                <label><input type="checkbox" name="categories" value="electro"> Electro</label>
                <label><input type="checkbox" name="categories" value="moda"> Moda</label>
                <label><input type="checkbox" name="categories" value="hogar"> Hogar</label>
                <label><input type="checkbox" name="categories" value="jugueteria"> Juguetería</label>
                <label><input type="checkbox" name="categories" value="vidasana"> Vida Sana</label>
            </div>
            <label for="photo">Foto de Usuario:</label>
            <input type="file" id="photo" name="photo" accept="image/*">
            <br>
            <input class="input-password" type="password" name="password" id="password" placeholder="Elegí una contraseña"  minlength="6" maxlength="8" required>
            <input class="input-password" type="password" name="password" id="password" placeholder="Confirmar contraseña"  minlength="6" maxlength="8" required>
            <div class="actions">
                <button type="submit" class="submit-btn">Enviar</button>
                <button type="reset" class="reset-btn">Borrar</button>
            </div>
        </form>
    </div>

<footer class="footer-login">
    <section class="centrado">
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section class="centrado">
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section class="centrado">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
    <script src="https://kit.fontawesome.com/6868278fd3.js" crossorigin="anonymous"></script>
</footer>
<section >
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</section>
</body>
</html>